@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/******  Header  ******/
.header-bck {
  min-height: 100vh;
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.logo {
  font-size: 35px;
  color: #f9d992;
  text-decoration: none;
  font-weight: 700;
}

.header-bck img {
  position: absolute;
  width: 200px;
  z-index: 100;
  top: 20px;
  left: 10%;
  border: 4px solid #ba803f;
  backdrop-filter: blur(50px);
  border-radius: 50%;
  cursor: pointer;
}

/*  Header navbar  */
.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: 0.8s;
}

.navbar a:link,
.navbar a:visited {
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    transition: border-bottom 0.8s;
    color: #ffc164;
}

#chceck {
  display: none;
}

.icons {
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  right: 5%;
}

/*  Header text */
.header-text {
  text-align: center;
  color: #ba803f;
  padding-top: 480px;
}

.header-text h1 {
  font-size: 110px;
  font-family: 'Kaushan Script', cursive;
}

.header-text img {
  border: 10px solid #ba803f;
  backdrop-filter: blur(50px);
  border-radius: 50%;
  width: 300px;
}

    /*  Header media 1080px */
    @media (max-width: 1080px) {
      .icons {
        display: inline-flex;
      }

    #chceck:checked ~ .icons #menu-icon {
      display: none;
    }

      .icons #close-icon {
        display: none;
      }

      #chceck:checked ~ .icons #close-icon {
        display: block;
      }

      .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .4s ease;
      }
      
      #chceck:checked ~ .navbar {
        height: 17.7rem;
      }

      .navbar a {
        display: block;
        font-size: 1.1.rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .4s ease;
        opacity: 0;
      }

      #chceck:checked ~ .navbar a {
        transform: translateY(0);
        transition-delay: calc(.10s * var(--i));
        opacity: 1;
      }

      /*  Header media 1080px - header text*/
      .header-text h1 {
        font-size: 90px;
      }
      
      .header-text img {
        width: 220px;
      }

    }

    /*  Header media 870px */
    @media (max-width: 870px) {
      /*  Header media 870px - header text*/
      .header-text h1 {
        font-size: 80px;
      }
      
      .header-text img {
        width: 190px;
      }
    }

    /*  Header media 760px */
    @media (max-width: 760px) {
      /*  Header media 760px - header text*/
      .header-text h1 {
      font-size: 60px;
      margin-top: -100px;
    }
    
    .header-text img {
      width: 150px;
      border: 7px solid #ba803f;
    }

    .header-bck img {
      display: none;
    }

    }


/******  Main ******/
.title-text h1 {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Kaushan Script', cursive;
  padding-left: 10%;
  color: black;
}

.title-text p {
  font-family: cursive;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: justify;  
}

    /*  Title-text media 760px */
    @media (max-width: 760px) {
      .title-text h1 {
        font-size: 44px;
      }
    }

    /*  Title-text media 520px */
    @media (max-width: 520px) {
      .title-text h1 {
        font-size: 34px;
      }

      .title-text p {
        text-align: left;  
      }
    }

/******  Main - about-us ******/
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.about-us-img1 img {
  width: 350px;
  padding-right: 50px;
}

.about-us-img2 img {
  width: 350px;
  padding-left: 50px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.about-us-text h2 {
  font-size: 42px;
  font-family: cursive;
}

.about-us-text p {
  padding-top: 10px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: justify;  
}

.line {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}


    /*  Main media 980px */
    @media (max-width: 980px) {
      .about-us-img1 img {
        display: none;
      }
      
      .about-us-img2 img {
        display: none;
      }
    }

    @media (max-width: 760px) {
      .about-us-text h2 {
        font-size: 36px;
      }
    }

      @media (max-width: 520px) {
        .about-us-text h2 {
          font-size: 28px;
        }

        .about-us-text p {
          text-align: left;  
        }
      }

/******  Main - about-us-oz ******/
.about-us-text-oz p {
  padding: 20px 10%;
  text-align: justify;
  font-family: cursive;
  font-size: 20px;
}

    /*  Main media 490px */
    @media (max-width: 490px) {
      .about-us-text-oz p {
        text-align: inherit;
      }
    }

    .service-box {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
  }
  

  /******  Main - Predaj z dvora ******/

/** quality **/

.quality {
  padding-top: 90px;
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.quality-bck {
background: rgba(0, 0, 0, .1);
backdrop-filter: blur(50px);
margin-top: -91px;
}

.container {
width: 80%;
margin-right: auto;
margin-left: auto;
}

.quality .titlepage p {
  padding-top: 15px !important;
  line-height: 30px;
  padding-top: 10px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: justify;
}

.quality-box {
  background: #fff;
  height: 262px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  max-width: 262px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.quality-box figure {
  margin: 0;
}

.quality-box figure img {
  max-width: 100%;
}

.read_more {
font-size: 16px;
background: rgba(255, 255, 255, 0.2);
text-decoration: none;
color: #fff;
max-width: 171px;
width: 100%;
height: 48px;
display: block;
line-height: 48px;
transition: ease-in all 0.5s;
font-weight: 600;
text-align: center;
z-index: 999;
border-radius: 30px;
text-transform: uppercase;
cursor: pointer;
transition: all 0.5s ease;
}

.read_more:hover {
  color: #ba803f;
}

.quality .read_more {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.titlepage {
  padding-bottom: 20px;
}

.titlepage h2 {
  font-size: 42px;
  font-family: cursive;
  color: #000000;
  line-height: 50px;
  font-weight: bold;
  padding-top: 20px;
  display: inline-block;
}

/* Query*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, 
.col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, 
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, 
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, 
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1540px;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}

@media (min-width: 1200px) {
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 706px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/** end quality **/




  
  .single-service {
      flex-basis: 45%;
      text-align: center;
      border-radius: 7px;
      margin-bottom: 20px;
      color: #fff;
      position: relative;
      
  }
  
  .single-service img {
      width: 100%;
      border-radius: 7px;   
  }

  .single-service h3 {
    color: black;
    font-size: 18px;
    font-family: cursive;
    padding-bottom: 5px;
  }
  
.single-service-title img {
  width: 22px;
  margin-left: 8px;
}

.single-service-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .overlay {
      width: 100%;
      position: absolute;
      top: 35px;
      bottom: 0;
      border-radius: 7px;
      cursor: pointer;
      background: linear-gradient(rgba(0,0,0,0.5), #ba803f);
      opacity: 0;
      transition: 1s;
  }
  
  .single-service:hover .overlay {
      opacity: 1;
  }
  
  .service-desc {
      width: 80%;
      position: absolute;
      bottom: 0;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);
      transition: 1s;
      height: 40%;
  }
  
  hr {
      background: #fff;
      height: 2px;
      border: 0;
      margin: 15px auto;
      width: 60%;
  }
  
  .service-desc p {
      font-size: 14px;
      font-family: 'Kaushan Script', cursive;
  }
  
  .single-service:hover .service-desc {
      bottom: 40%;
      opacity: 1;
  }
  

  @media screen and (max-width: 1215px) {
      .service-desc p {
        font-size: 11px;
      }
    }

  @media screen and (max-width: 1000px) {
      .single-service {
          flex-basis: 100%;
          margin-bottom: 30px;
      }
  
      hr {
          margin: 5px auto; 
      }
  
      .single-service:hover .service-desc {
          bottom: 25% !important;
      }

      .service-desc p {
        font-size: 14px;
      }
  }

  @media screen and (max-width: 680px) {

    .service-desc h3 {
      font-size: 18px;
    }

    .service-desc p {
        font-size: 12px;
    }
  }

  @media screen and (max-width: 520px) {

    .single-service-title h3{
      font-size: 14px;
    }

    .service-desc p {
        font-size: 7px;
    }
  }



  

/************  Contact  ************/
.contact-desc {
  width: 80%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-desc h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-desc p {
  font-size: 20px;
  font-family: cursive;
  text-align: justify;
  padding-bottom: 20px;
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0px 0;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px 0 0 10px;
  background: url("img/background.jpg");
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-form {
  background: rgba(0, 0, 0, .05);
  backdrop-filter: blur(50px);
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 20px;
}

.contact-form h1 {
  margin-bottom: 20px;
  font-family: cursive;
  color: #fff;
}

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #000000;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-txtarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #000000;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-txtarea::placeholder {
  color: #aaa;
}

.contact-mapp {
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-mapp iframe {
width: 100%;
height: 100%;
border-radius: 0 10px 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-btn {
  width: 35%;
  border: 0px solid black;
  outline: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.contact-form-btn:hover {
  color: #ba803f;
}

    @media (max-width: 499px) {
      .contact-in {
        border-radius: 10px 10px 0 0;
      }

      .contact-form {
        border-radius: 10px 10px 0 0;
      }

      .contact-mapp iframe {
        border-radius: 0 0 10px 10px;
        }

        .contact-form {
          border-radius: 10px 10px 0 0;
        }
    }


/************  Footer  ************/
footer {
  background: url("img/background.jpg") no-repeat;
  height: 230px;
  width: 100%;
  bottom: 0; 
  margin-top: 40px;
}

.footer-container {
  height: 230px;
  background: rgba(0, 0, 0, .15);
  backdrop-filter: blur(50px);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 5%;
}

ul {
  list-style: none;
}

.footer-col {
  width: 33%;
  padding: 0 15px;
}

.footer-col button {
  font-size: 16px;
  background: transparent;
  border: none;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-family: cursive;
  display: block;
  margin-bottom: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-col button:hover {
  color: #ffc164;
  padding-left: 8px;
}

.footer-col a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-family: cursive;
  display: block;
  margin-bottom: 8px;
}

.footer-col h4 {
  font-size: 22px;
  font-family: cursive;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 25px;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #634725;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col p {
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: auto;
  font-family: cursive;
}

.footer-col .social-links-contact a {
  display: initial;
} 

.footer-col .social-links-contact .fa {
  color: #fff;
  margin-right: 10px; 
  margin-bottom: 6px;
} 

.social-links-cont {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #ba803f;
  background-color: #fff;
}


    @media screen and (max-width: 880px) {
      footer {
        height: 400px;
      }
      
      .footer-container {
        height: 400px;
      }
      
      .footer-col {
        width: 50%;
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 530px) {
      footer {
        height: 520px;
      }
      
      .footer-container {
        height: 580px;
      }
      
      .footer-col {
        width: 100%;
      }

      .contact-desc p {
        text-align: left;
      }

    }


